@model asp_mvc.Dtos.EditPublisherViewModel

<form asp-action="Edit" method="post" asp-controller="Publisher" enctype="multipart/form-data">
    <div class="border p-3 p-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Publisher</h2>
            <hr>
        </div>
        <input asp-for="PublisherId" type="hidden" />
        <div class="mb-3 row p-1">
            <label asp-for="PublisherName" class="p-0"></label>
            <input asp-for="PublisherName" class="form-control">
            <span asp-validation-for="PublisherName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="PublisherThumb" class="p-0"></label>
            <input asp-for="PublisherThumb" type="file" class="form-control">
            <span asp-validation-for="PublisherThumb" class="text-danger"></span>
            @if (Model.ExistingPublisherThumb != null)
            {
                <img src="~/images/publishers/@Model.ExistingPublisherThumb" alt="Thumb" width="100" />
            }
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="PublisherImage" class="p-0"></label>
            <input asp-for="PublisherImage" type="file" class="form-control">
            <span asp-validation-for="PublisherImage" class="text-danger"></span>
            @if (Model.ExistingPublisherImage != null)
            {
                <img src="~/images/publishers/@Model.ExistingPublisherImage" alt="Image" width="100" />
            }
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Save Changes</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Publisher" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.Partial("ToastNotifications")
}