@model SubCategory

<form method="post">
    <div class="border p-3 p-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Sub Category</h2>
            <hr>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SubCategoryName" class="p-0"></label>
            <input asp-for="SubCategoryName" disable class="form-control">
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CategoryId" class="p-0"></label>
            <input asp-for="CategoryId" disable class="form-control">
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="SubCategory" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.Partial("ToastNotifications")
}
